/* Collaboration Cursors */
.remote-cursor {
    position: absolute;
    width: 2px !important;
    z-index: 100;
    pointer-events: none;
}

.remote-cursor-label {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    white-space: nowrap;
    z-index: 101;
    pointer-events: none;
    font-weight: 600;
    opacity: 0.8;
}

.remote-selection {
    position: absolute;
    z-index: 99;
    opacity: 0.2;
    pointer-events: none;
}